-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateTable
CREATE TABLE "activity_logs" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "user_id" UUID NOT NULL,
    "action" TEXT NOT NULL,
    "entity_type" TEXT NOT NULL,
    "entity_id" UUID,
    "details" JSONB DEFAULT '{}',
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "activity_logs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "grupo_monthly_payment" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "grupo_id" UUID NOT NULL,
    "month_year" VARCHAR(7) NOT NULL,
    "payment_status" BOOLEAN DEFAULT false,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "grupo_monthly_payment_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "grupos" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "user_id" UUID NOT NULL,
    "nome" TEXT NOT NULL,
    "descricao" TEXT,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "channel_id" TEXT,
    "payment_status" BOOLEAN DEFAULT false,

    CONSTRAINT "grupos_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "produtos" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "nome" TEXT NOT NULL,
    "descricao" TEXT,
    "imagem_url" TEXT,
    "link_serie" TEXT,
    "plataforma" VARCHAR(255),
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "nome_alternativo" TEXT,

    CONSTRAINT "produtos_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "user_series" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "user_id" UUID NOT NULL,
    "produto_id" UUID NOT NULL,
    "grupo_id" UUID NOT NULL,
    "preco" DECIMAL(10,2) NOT NULL DEFAULT 0.00,
    "ativo" BOOLEAN DEFAULT true,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "user_series_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "users" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "discord_id" TEXT NOT NULL,
    "discord_username" TEXT NOT NULL,
    "discord_avatar" TEXT,
    "email" TEXT,
    "role" TEXT DEFAULT 'user',
    "billing_setup" JSONB DEFAULT '{"chave_pix": "", "instrucoes": "", "tipo_chave": "pix", "metodo_preferido": "pix", "nome_beneficiario": ""}',
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "discord_banner" TEXT,

    CONSTRAINT "users_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "vendas" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "user_id" UUID NOT NULL,
    "produto_id" UUID NOT NULL,
    "grupo_id" UUID,
    "capitulo" DECIMAL(10,2) NOT NULL,
    "preco_unitario" DECIMAL(10,2) NOT NULL,
    "preco_total" DECIMAL(10,2) NOT NULL,
    "observacoes" TEXT,
    "data_venda" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "capitulos_detalhes" TEXT,
    "lock_user" BOOLEAN DEFAULT false,
    "lock_admin" BOOLEAN DEFAULT false,

    CONSTRAINT "vendas_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "vendor_monthly_status" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "user_id" UUID NOT NULL,
    "grupo_id" UUID NOT NULL,
    "month_year" VARCHAR(7) NOT NULL,
    "recebimento_status" BOOLEAN DEFAULT false,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "vendor_monthly_status_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "vendor_status" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "user_id" UUID NOT NULL,
    "grupo_id" UUID NOT NULL,
    "recebimento_status" BOOLEAN DEFAULT false,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "vendor_status_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "idx_grupo_monthly_payment_grupo_id" ON "grupo_monthly_payment"("grupo_id");

-- CreateIndex
CREATE INDEX "idx_grupo_monthly_payment_month" ON "grupo_monthly_payment"("month_year");

-- CreateIndex
CREATE INDEX "idx_grupo_monthly_payment_status" ON "grupo_monthly_payment"("payment_status");

-- CreateIndex
CREATE UNIQUE INDEX "grupo_monthly_payment_grupo_id_month_year_key" ON "grupo_monthly_payment"("grupo_id", "month_year");

-- CreateIndex
CREATE UNIQUE INDEX "grupos_channel_id_key" ON "grupos"("channel_id");

-- CreateIndex
CREATE UNIQUE INDEX "produtos_nome_key" ON "produtos"("nome");

-- CreateIndex
CREATE UNIQUE INDEX "user_series_user_id_produto_id_grupo_id_key" ON "user_series"("user_id", "produto_id", "grupo_id");

-- CreateIndex
CREATE UNIQUE INDEX "users_discord_id_key" ON "users"("discord_id");

-- CreateIndex
CREATE UNIQUE INDEX "vendas_user_id_produto_id_grupo_id_quantidade_key" ON "vendas"("user_id", "produto_id", "grupo_id", "capitulo");

-- CreateIndex
CREATE INDEX "idx_vendor_monthly_status_grupo_id" ON "vendor_monthly_status"("grupo_id");

-- CreateIndex
CREATE INDEX "idx_vendor_monthly_status_month" ON "vendor_monthly_status"("month_year");

-- CreateIndex
CREATE INDEX "idx_vendor_monthly_status_user_id" ON "vendor_monthly_status"("user_id");

-- CreateIndex
CREATE UNIQUE INDEX "vendor_monthly_status_user_id_grupo_id_month_year_key" ON "vendor_monthly_status"("user_id", "grupo_id", "month_year");

-- CreateIndex
CREATE INDEX "idx_vendor_status_grupo_id" ON "vendor_status"("grupo_id");

-- CreateIndex
CREATE INDEX "idx_vendor_status_user_id" ON "vendor_status"("user_id");

-- CreateIndex
CREATE UNIQUE INDEX "vendor_status_user_id_grupo_id_key" ON "vendor_status"("user_id", "grupo_id");

-- AddForeignKey
ALTER TABLE "activity_logs" ADD CONSTRAINT "activity_logs_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "grupo_monthly_payment" ADD CONSTRAINT "grupo_monthly_payment_grupo_id_fkey" FOREIGN KEY ("grupo_id") REFERENCES "grupos"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "grupos" ADD CONSTRAINT "grupos_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "user_series" ADD CONSTRAINT "user_series_grupo_id_fkey" FOREIGN KEY ("grupo_id") REFERENCES "grupos"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "user_series" ADD CONSTRAINT "user_series_produto_id_fkey" FOREIGN KEY ("produto_id") REFERENCES "produtos"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "user_series" ADD CONSTRAINT "user_series_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "vendas" ADD CONSTRAINT "vendas_grupo_id_fkey" FOREIGN KEY ("grupo_id") REFERENCES "grupos"("id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "vendas" ADD CONSTRAINT "vendas_produto_id_fkey" FOREIGN KEY ("produto_id") REFERENCES "produtos"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "vendas" ADD CONSTRAINT "vendas_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "vendor_monthly_status" ADD CONSTRAINT "vendor_monthly_status_grupo_id_fkey" FOREIGN KEY ("grupo_id") REFERENCES "grupos"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "vendor_monthly_status" ADD CONSTRAINT "vendor_monthly_status_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "vendor_status" ADD CONSTRAINT "vendor_status_grupo_id_fkey" FOREIGN KEY ("grupo_id") REFERENCES "grupos"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "vendor_status" ADD CONSTRAINT "vendor_status_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

